.hero {
  display: flex;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(196, 147, 236, 0.575),
    rgba(190, 190, 187, 0.692) 60%
  );
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #582727a9;
  font-size: 30px;
  font-weight: 800;
}

.hero-left p {
  color: #3d3a3a;
  font-size: 100px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
