.popular{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
height: 90vh;
}

.popular h1{
    color: #502222;
    font-size: 45px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 0px;
    border-radius: 10px;
    background: #8d6363;
}

.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}